$blue: rgb(162, 162, 238);
$red: rgb(231, 143, 143);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    padding: 1rem 4rem;
    font-family: "Montserrat";
}
header{
    font-size: 1.5rem;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
}
nav a{
    padding-left: 1rem;
    text-decoration: none;
    color: black;
}
